/* Style the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 2%;
    background-color: #5688d0;
    overflow: auto;
}


/* Navbar links */

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.35s;
}


/* Navbar links on mouse-over */

.navbar a:hover {
    color: #000;
    background-color: bisque;
}


/* Current/active navbar link */

.navbar .active:active {
    background-color: white;
    color: black;
}

.navbar img {
    width: 2em;
    height: 2em;
    padding: 0;
    float: left;
    position: relative;
    margin: 10px 15px 8px 10px;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
    .navbar img {
        float: none;
        display: inline;
        margin: 18px 40% 0 49.5%;
    }
}